### Java ###
*.class
*.log
*.ctxt

### Maven ###
target/
!target/*.jar  # <-- Permitir el .jar dentro de target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### IDEs ###
# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Docker ###
*.orig
*.bak
docker-compose.override.yml

# Archivos de entorno y otros locales
.env
.env.*
